.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: lightgrey;
}

.intro {
  font-size: 25px;
  text-align: center;
  font-family: monospace;
  width: 800px;
  padding: 20px;
}

.keyStyle {
  width: 80px;
  height: 80px;
  margin: 2.5px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.spaceStyle {
  width: 320px;
  height: 80px;
  margin: 2.5px;
  border-radius: 8px;
  font-size: 25px;
  color: white;
  background: black;
  border: none;
}

.textStyle {
  height: 70px;
  width: 800px;
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .keyStyle, .spaceStyle, .intro {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    font-size: 20px;
    margin: 2px;
  }
  .spaceStyle {
    width: 220px;
  }
  .textStyle, .intro {
    width: 550px;
  }
}

@media (max-width: 800px) {
  .keyStyle, .spaceStyle, .intro {
    height: 40px;
    width: 40px;
    margin: 1.5px;
    border-radius: 5px;
    font-size: 16px;
  }
  .spaceStyle {
    width: 160px;
  }
  .textStyle, .intro {
    font-size: 14px;
    width: 400px;
  }
}

@media (max-width: 450px) {
  .keyStyle, .spaceStyle, .intro {
    height: 27px;
    width: 27px;
    font-size: 10px;
    border-radius: 4px;
    margin: 1px;
  }
  .spaceStyle {
    width: 100px;
  }
  .textStyle, .intro {
    width: 250px;
  }
}
