.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: white;
}

.textStyle {
  height: 60px;
  width: 580px;
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

.keyStyle {
  width: 80px;
  height: 80px;
  margin: 3px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .keyStyle {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin: 2.5px;
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .keyStyle {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    margin: 1.5px;
  }
}

@media (max-width: 350px) {
  .textStyle {
    height: 30px;
    width: 150px;
  }
}
